<div class="sidebar">
  <div class="logo"><img src="assets/img/white-logo.png" alt="logo" width="150"></div>
  <ul>
    <li>Inicio</li>
    <li>Salud</li>
    <li>Historial de alertas</li>
    <li>Causa y efecto</li>
    <li>Tiempo real</li>
    <li>Reportes</li>
    <li>Configuración</li>
    <li>Cerrar sesión</li>
    <hr>
    <li>Ayuda</li>
    <li>Términos y condiciones</li>
    <li>Legales</li>





  </ul>
  <div class="back"></div>
</div>
<div class="main-content">
 <div class="navbar">
    <div class="alerts">
        <div class="bell">
            <img src="assets/img/bell.svg" alt="notification" width="20">
            <div class="badge">4</div>
        </div>
        <div class="pl10">Ver Alertas</div>
      </div>
      <div class="date">
        <div class="today"><span>{{ today | date }} {{ today | date:'shortTime' }}</span>   </div>
        <div class="updateLast">Ultima actualización {{ update | date :'shortTime'}}
            <button class="reload" (click)="updateData()"><img src="assets/img/reload.svg" alt="reload" width="15"></button>

        </div> 
      </div>
 </div>
  <ngb-tabset (tabChange)="onTabChange($event)">
    <ngb-tab title="{{item.nombre}}" *ngFor=" let item of plantas">
      <ng-template ngbTabContent *ngIf="item.nombre == 'Planta 1'" >
       <div class="container">
         <div class="row">
            <div class="pl20"><h3>Inicio</h3> </div>
         </div>
         <div class="row">
            <div class="col card indicate m20" *ngFor="let maquina of data">
              <div class="target">
                <div class="icon">
                  <img src="assets/img/chart.svg" alt="icono-chart" width="40">
                </div>
                <div class="indicator">
                  <span class="name">{{maquina.name}}</span>
                  <span class="unity">{{maquina.total}}</span>
                </div>
              </div>
            </div>
         </div>
         <div class="row">
           <div class="col card">
             <div class="mt25"><h3>Tendencias</h3></div>
            <div class="h400">
              <ngx-charts-line-chart
                [results]="data"
                [view] = ""
                [scheme]="colorScheme"
                [gradient]="false"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="''"
                [yAxisLabel]="'Producción'"
                [autoScale]="true"
                [timeline]="true"
                (select)="onSelect($event)">
              </ngx-charts-line-chart>
            </div>
           </div>
         </div>
       </div>
      </ng-template>
      <ng-template ngbTabContent *ngIf="item.nombre == 'Planta 2'">
          <div class="container">
            <div class="row">
               <div class="pl20"><h3>Inicio</h3> </div>
            </div>
            <div class="row">
               <div class="col card indicate m20" *ngFor="let maquina of data2">
                 <div class="target">
                   <div class="icon">
                     <img src="assets/img/chart.svg" alt="icono-chart" width="40">
                   </div>
                   <div class="indicator">
                     <span class="name">{{maquina.name}}</span>
                     <span class="unity">{{maquina.total}}</span>
                   </div>
                 </div>
               </div>
            </div>
            <div class="row">
              <div class="col card">
                <div class="mt25"><h3>Tendencias</h3></div>
               <div class="h400">
                 <ngx-charts-line-chart
                   [results]="data2"
                   [view] = ""
                   [scheme]="colorScheme"
                   [gradient]="false"
                   [xAxis]="true"
                   [yAxis]="true"
                   [legend]="true"
                   [showXAxisLabel]="true"
                   [showYAxisLabel]="true"
                   [xAxisLabel]="''"
                   [yAxisLabel]="'Producción'"
                   [autoScale]="true"
                   [timeline]="true"
                   (select)="onSelect($event)">
                 </ngx-charts-line-chart>
               </div>
              </div>
            </div>
          </div>
      </ng-template>
      <ng-template ngbTabContent *ngIf="item.nombre == 'Planta 3'">
          <div class="container">
            <div class="row">
               <div class="pl20"><h3>Inicio</h3> </div>
            </div>
            <div class="row">
               <div class="col card indicate m20" *ngFor="let maquina of data3">
                 <div class="target">
                   <div class="icon">
                     <img src="assets/img/chart.svg" alt="icono-chart" width="40">
                   </div>
                   <div class="indicator">
                     <span class="name">{{maquina.name}}</span>
                     <span class="unity">{{maquina.total}}</span>
                   </div>
                 </div>
               </div>
            </div>
            <div class="row">
              <div class="col card">
                <div class="mt25"><h3>Tendencias</h3></div>
               <div class="h400">
                 <ngx-charts-line-chart
                   [results]="data3"
                   [view] = ""
                   [scheme]="colorScheme"
                   [gradient]="false"
                   [xAxis]="true"
                   [yAxis]="true"
                   [legend]="true"
                   [showXAxisLabel]="true"
                   [showYAxisLabel]="true"
                   [xAxisLabel]="''"
                   [yAxisLabel]="'Producción'"
                   [autoScale]="true"
                   [timeline]="true"
                   (select)="onSelect($event)">
                 </ngx-charts-line-chart>
               </div>
              </div>
            </div>
          </div>
         </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
